.footer_lines p{
    font-size: 18px;
}
.footer_apps{
    height: 130px;
    border-left: 2px grey solid;
}
.s13{
    font-size: 13px;
}
.s12{
    font-size: 12px;
}
.footer_two{
    border-top: 1px grey solid;
    background: #f1f2f6;
    height: 150px;
}

.footer_end{  
    background: #002f34;
}
.para{
    padding-left: 500px;
}